.topnav a:visited {
    text-decoration: none;
    color: #ffffff;
}

.topnav a {
    flex-grow: 1;
    transition: all .2s ease-in;
    padding: 0px 25px 0px 25px;

    font-size: 1.5em;
}

.topnav a:hover {
    background-color: #00AED1 ;
}

/*.hamburger {*/
/*    height: 15px;*/
/*    width: 15px;*/
/*}*/

/*.wrapper {*/
/*    height: 6vh;*/
/*}*/

/*.topnav {*/
/*    z-index: 4;*/
/*}*/

.Navbar-main {
    background-color: #000000;
}

.navbar-toggler-icon {
    color: #ffffff;
}


.topnav {
    font-family: 'Saira Condensed', sans-serif;
    background-color: #000;
}
