.eventCard {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.eventsMain {
    margin-top: 15vh;
}

.eventMissing {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
